{% extends "base-app.html" %}

{% block content %}

<!-- This example requires Tailwind CSS v2.0+ -->
<div>
    <dl class="my-5 grid grid-cols-1 gap-5 md:grid-cols-3">
        <div class="px-4 py-5 bg-green-400 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-white truncate uppercase">
                Total Guests
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-white">
                {{ stats.total_guests }}
            </dd>
        </div>

        <div class="px-4 py-5 bg-green-400 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-white truncate uppercase">
                Total Bookings
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-white">
                {{ stats.total_bookings }}
            </dd>
        </div>

        <div class="px-4 py-5 bg-green-400 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-white truncate uppercase">
                Total Sales
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-white">
                €{{ stats.total_sales }}
            </dd>
        </div>
    </dl>
</div>

<div>
    <dl class="my-5 grid grid-cols-1 gap-5 md:grid-cols-3">
        <div class="px-4 py-5 bg-green-400 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-white truncate uppercase">
                % No-Shows
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-white">
                {{ stats.no_show_percentage }}%
            </dd>
        </div>

        <div class="px-4 py-5 bg-green-400 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-white truncate uppercase">
                % Completed
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-white">
                {{ stats.completed_percentage }}%
            </dd>
        </div>

        <div class="px-4 py-5 bg-green-400 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-white truncate uppercase ">
                Avg. Booking Value
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-white">
                €{{ stats.avg_booking_value }}
            </dd>
        </div>
    </dl>
</div>

<div id="pageErrorModal" class="{{ '' if request.args.get('page_error') else 'hidden' }} fixed z-10 inset-0 overflow-y-auto" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div onclick="pageErrorModal()" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">
            &#8203;
        </span>
        <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
            <div class="flex flex-col items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
                <div class="max-w-md w-full space-y-8">
                    <h2 class="text-xl font-bold text-center">
                        Page Error
                    </h2>
                    <p class="text-center">
                        Looks like that page has moved or no longer exists.
                    </p>
                </div>
                <div class="mt-8">
                    <button type="button"
                        onclick="pageErrorModal()"
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-900 hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Close Window
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}